@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'apollo';
    src: url('/assets/fonts/APOLLO.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'bloverly';
    src: url('/assets/fonts/BLOVERLY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'bonita';
    src: url('/assets/fonts/BONITA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'shipporiMinchoB';
    src: url('/assets/fonts/ShipporiMincho-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'shipporiMincho';
    src: url('/assets/fonts/ShipporiMincho-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
  }
@font-face {
    font-family: 'inter';
    src: url('/assets/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'bloverly';
  }

  p,li{
    font-family: 'shipporiMincho';
  }

  #range-slider {
    background:  #333;
}

#range-slider .range-slider__range {
    background: #E39C9D;
    transition: height .3s;
}

#range-slider .range-slider__thumb {
    background: #E39C9D;
    transition: transform .3s;
}

#range-slider .range-slider__thumb[data-active] {
    transform: translate(-50%, -50%) scale(1.25);
}

#range-slider .range-slider__range[data-active] {
    height: 16px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

html {
scroll-behavior: smooth;
}

 
